





* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;


}

.i {
    width: 322px !important;
    height: 190px !important;
}

.hero {
    position: relative;
    min-height: 50vh;

}

#bgvid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    object-fit: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    position: relative;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 40vw;
}

li {
    color: white;
    font-size: 1.3vw;
}

#logo {
    margin-right: 2em;
    font-weight: bold;
}

#lists {
    display: flex;
    align-items: center;
    height: 10vh;
}

#lists2 ul {
    display: flex;
    align-items: center;
    height: 10vh;
}

#lists2 ul li svg {
    width: 1em;
    height: 1em;
}

#up {
    border: 1px solid white;
    border-radius: 10em;
    background-color: white;
    color: black;
    font-weight: bold;
    height: 4vh;
    width: 5vw;
    text-align: center;
    padding: 0.2em;
    font-size: medium;
}

#svglogo {
    display: flex;
    justify-content: space-between;
    width: 5vw;
}

#sideimg {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 17%;

}

#sideimg img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5em;
    margin-right: 0;
}

#baars {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 2em;
    margin-top: 2em;
}

.rightimg2 {
    width: 100%;
    height: 100%;
    background-color: white;
}

.translate {
    transform: translateX(-100%)
}

h1,
h2,
h3 {
    color: white;
    margin-top: 20vh;
    font-weight: lighter;
}

#recomm {
    display: flex;
    height: 30vh;
    gap: 5em;
    overflow-x: scroll;

}

#recomm::-webkit-scrollbar {
    display: none;
}

#rel {
    display: flex;
    height: 30vh;
    gap: 5em;
    overflow-x: scroll;
    margin-top: 1.8em;
}

#rel::-webkit-scrollbar {
    display: none;
}

#pop {
    display: flex;
    height: 30vh;
    gap: 5em;
    overflow-x: scroll;
}

#pop::-webkit-scrollbar {
    display: none;
}

h1 {
    margin: 0;
}

.a1 {
    margin-top: 100px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

#newrel {
    width: 1000px;
    height: 500px;
}

.z1 {
    cursor: pointer;
}

.image-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    position: absolute;
    left: 100%;
    /* Position to the right of the image container */
    top: 0;
    /* Center vertically */
    transform: translateY(-100%);
    /* Adjust vertical centering */
    transform: translateX(-100%);
    width: 100%;
    /* Match the width of the image */
    height: 80%;
    /* Match the height of the image */
    background: linear-gradient(to left, rgba(0, 0, 0, 0.829), rgba(0,0,0,0.5), rgba(0,0,0,0));
    /* Darker background */
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
   
    align-items: flex-start;
    padding: 10px;
    transition: left 1s ease-in-out, visibility 1s ease-in-out;
    /* Smooth transition */
    visibility: hidden;
    opacity: 0;
  
    
}

.image-container:hover .tooltip {
    left: 0;
    /* Move it to its original position on hover */
    visibility: visible;
    opacity: 1;
}

.image-container:hover {
    cursor: pointer;
}


#a3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

.a4 {
    font-size: 25px;
    font-weight: 100;
}

.btn {
    width: auto;
    height: auto;
    font-size: 1em;
    padding: 8px 14px;
    /* Adjust padding as needed */
    background: none;
    color: white;
    border: solid white 2px;
    border-radius: 25px;
}

#poster img {
    height:80%;
    width: 200px;
    border-radius: 0.1em;

}

#poster {
    background-color: rgba(26, 26, 26, 255);
    height: 500px;
    
    border-radius: 0.3em;
    padding-bottom: 1em;
    margin-left: 200px;
    margin-top: 200px;
    z-index: 2;

}

#first {
    display: flex;
    gap: 2em;
    align-items: center;
    margin: 0.8em;

}

#first div:first-child svg {
    color: rgba(246, 200, 26, 255);
    width: 120px;
}

#first div:first-child p {
    color: white;
    vertical-align: middle;
}

#first div:first-child {
    display: flex;
    align-items: center;
    gap: 1em;
}

#first div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

#first div:last-child svg {
    color: transparent;
    stroke: rgba(88, 142, 222, 255);
}

#title {
    color: white;
    font-size: medium;
    margin: 1em;
}

#buttton {
    display: flex;
    justify-content: center;
    align-items: center;



}
.t{
 font-size: 1.5em;
}

#buttton button {
    color: rgba(88, 142, 222, 255);
    width: 11rem;
    justify-content: center;
    height: 2.2rem;
    background-color: rgba(44, 44, 44, 255);
    text-decoration: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 1em;
    border-radius: 4px;
    font-size: medium;
    font-weight: bold;



}

#trailer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 1em;
    font-size: medium;
    margin-top: 1em;

}